<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Site Properities -->
        <title>اولین پست</title>
        <meta name="description" content="">
        <meta property="og:site_name" content="" />
        <meta property="og:locale" content="fa" />
<meta property="og:title" content="اولین پست" />
<meta property="og:url" content="wlyn-pst.html"/>
<meta property="og:description" content=" " />
<meta property="og:type" content="article" />
<meta property="og:author" content="Morteza Allahpour" />
        <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="">
            <meta name="twitter:description" content="">
            <!--meta name="twitter:image" content=""-->
        
<link rel="stylesheet" type="text/css" href="./theme/css/rtl.css">
<link rel="stylesheet" type="text/css" href="./theme/css/semantic.rtl.min.css">
<link rel="stylesheet" type="text/css" href="./theme/css/custom.css">
<link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lateef&amp;subset=arabic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet"><link rel="stylesheet" type="text/css" href="./theme/codemirror/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="./theme/codemirror/theme/monokai.css">
<link rel="stylesheet" type="text/css" href="./theme/codemirror/theme/material.css">
<script type="text/javascript" src="./theme/js/jquery.min.js"></script>
<script type="text/javascript" src="./theme/js/semantic.min.js"></script>    </head>
    <body>
<div class="ui red inverted massive menu">
    <div class="header item">
        <i class="terminal icon"></i>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui mini inverted transparent icon input">
                <input type="text" name="search" placeholder="جست و جوی تگ‌ها..." data-search>
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>        <div class="ui container">
<div class="ui text container center aligned article-top">
    <h1 class="ui header article-huge">اولین پست</h1>
</div>
<div class="ui text container tall stacked segment">
    <div class="overlay">
        <div class="ui labeled icon vertical menu">
            <a class="item sharer" data-sharer="twitter" data-title="اولین پست" data-url="./wlyn-pst.html" style="color:#00ACED !important">
                <i class="twitter icon"></i>
            </a>
            <a class="item sharer" data-sharer="facebook" data-url="./wlyn-pst.html" style="color:#3B5998 !important" >
                <i class="facebook icon"></i>
            </a>
            <a class="item sharer" data-sharer="googleplus" data-url="./wlyn-pst.html" style="color: #DD4C39 !important">
                <i class="google plus icon"></i>
            </a>
            <a class="item sharer" data-sharer="linkedin" data-url="./wlyn-pst.html" style="color:#3B5998 !important">
                <i class="linkedin icon"></i>
            </a>
        </div>
    </div>
    
        <p>
            این اولین مطلبی هست که تو این سایت می‌نویسم.
        </p>
        <p>
            هدف از این پست تست ویژگی‌هایی هست که پیاده سازی شده و هیچ جنبه ای نداره.
        </p>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
        </p>
        <h1>
            ویجت‌های نمایش کد:
        </h1>
        <h2>
            نمونه کد پایتون
        </h2>
<textarea id="code1">
# some code in python
import sys

sys.path.append('.')

def func(arg):
    print('you pass: {}'.format(arg))
</textarea>
        <div class="ui divider"></div>
        <h2>
            نمونه کد سی++
        </h2>
<textarea id="code2">
#include <iostream>
#include <iterator>
#include <vector>

int main(){
    auto numbers = std::vector<int>({1, 2, 3, 4, 5, 6, 7});
    std::copy(numbers.begin(), numbers.end(), std::ostream_iterator<int>(std::cout, ", "));
    return 0;
}
</textarea>
        <div class="ui divider"></div>
        <h2>
            نمونه کد جانگو (template)
        </h2>
<textarea id="code3">
{% load staticfiles %}
&lt;!DOCTYPE html&gt;
&lt;html lang="fa"&gt;
    &lt;head&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}"&gt;
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body class="body"&gt;
        {% include 'layouts/front-site/navbar_block' %}
        &lt;div class="container"&gt;
            {% block main_contents %}
            {% endblock main_contents %}
        &lt;/div&gt;
        {% block footer_block %}
        {% endblock footer_block %}
        {# comments #}
        &lt;script src="{% static 'js/jquery.min.js' %}"&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</textarea>
        <div class="ui divider"></div>
        <h2>
            فایل CMake
        </h2>
<textarea id="code4">
cmake_minimum_required(VERSION 3.9)
# find sources
aux_source_directory(. SOURCES_FILE)
message(${SOURCES_FILE})

find_package(Boost 1.50.0 REQUIRED COMPONENTS filesystem program_options)

add_executable(TestProject ${SOURCES_FILE})
target_include_directories(TestProject PUBLIC Boost::boost)
target_link_libraries(TestProject Boost::filesystem) # Boost::dynamic_linking Boost::disable_autolinking)
</textarea>
        <div class="ui divider"></div>
        <h2>
            Shell
        </h2>
<textarea id="code5">
#!/bin/bash
git clone http://github.com/mortza/mortza.github.io-source
cd mortza.github.io-source
</textarea>
        <h1>
            نقل قول
        </h1>
        <blockquote class="red">
            <p class="ui quote">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود</p>
        </blockquote>
        <script type="text/javascript">
            $(function(){
                CodeMirror.fromTextArea(document.getElementById("code1"), {
                    mode: {
                        name: "text/x-cython",
                        version: 2,
                        singleLineStringErrors: false
                    },
                    readOnly:true,
                    lineNumbers: true,
                    indentUnit: 4,
                    matchBrackets: true,
                    lineWrapping:true,
                    theme:'monokai'
                });
                CodeMirror.fromTextArea(document.getElementById("code2"), {
                    mode: {
                        name: "text/x-c++src",
                        version: 2,
                        singleLineStringErrors: false
                    },
                    readOnly:true,
                    lineNumbers: true,
                    indentUnit: 4,
                    matchBrackets: true,
                    lineWrapping:true,
                    theme:'monokai'
                });
                CodeMirror.fromTextArea(document.getElementById("code3"), {
                    mode: {
                        name: "text/x-django",
                        version: 2,
                        singleLineStringErrors: false
                    },
                    readOnly:true,
                    lineNumbers: true,
                    indentUnit: 4,
                    matchBrackets: true,
                    lineWrapping:true,
                    theme:'monokai'
                });
                CodeMirror.fromTextArea(document.getElementById("code4"), {
                    mode: {
                        name: "text/x-cmake",
                        version: 2,
                        singleLineStringErrors: false
                    },
                    readOnly:true,
                    lineNumbers: true,
                    indentUnit: 4,
                    matchBrackets: true,
                    lineWrapping:true,
                    theme:'monokai'
                });
                CodeMirror.fromTextArea(document.getElementById("code5"), {
                    mode: {
                        name: "text/x-sh",
                        version: 2,
                        singleLineStringErrors: false
                    },
                    readOnly:true,
                    lineNumbers: true,
                    indentUnit: 4,
                    matchBrackets: true,
                    lineWrapping:true,
                    theme:'monokai'
                });
        });
        </script>
    

    <div class="ui divider"></div>
    <span class="ui author">توسط <a href="./author/morteza-allahpour.html">Morteza Allahpour</a> در 25 خرداد 1397</span>
</div>
        </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/sharer.js/0.2.4/sharer.min.js"></script>
<script type="text/javascript" src="./theme/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/python/python.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/clike/clike.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/django/django.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/cmake/overlay.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/cmake/cmake.js"></script>
<script type="text/javascript" src="./theme/codemirror/mode/shell/shell.js"></script>
    </body>
</html>